body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Heading */
.heading {
  text-align: center;
  font-size: 32px;
  margin: 30px 0 10px;
}

/* Course Grid */
.course-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

/* Course Card */
.course-card {
  position: relative;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.28);
}

/* Thumbnail */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Content */
.card-info {
  padding: 18px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.rating {
  margin: 5px 0;
  color: #ffd700;
  font-size: 18px;
}

.price-row {
  margin: 8px 0;
  font-size: 17px;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  margin-left: 10px;
}

.off-tag {
  color: red;
  font-weight: bold;
  margin-left: 12px;
}

/* BUTTON OVERLAY */
.card-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  pointer-events: none;
}

.card-btn button {
  padding: 14px 40px;
  font-size: 16px;
  font-weight: bold;
  background: #ffcc00;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.course-desc{
  font-size: 14px;
  margin: 8px 0;
  color: #444;
}

.course-meta{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
}
/* MORE COURSES BUTTON */
.more-courses-wrap {
  text-align: center;
  margin: 50px 0;
  cursor: pointer;
}

.more-courses-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 36px;
  background: #071b4d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s ease;
}

.more-courses-btn span {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.more-courses-btn:hover {
  background: #ffcc00;
  color: #000;
}

.more-courses-btn:hover span {
  transform: translateX(6px);
}